{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}

{% block title %}CodeGear | Criar/Entrar{% endblock title%}

<div class="row">
    {% if not request.user.is_authenticated %}
        <div class="col-lg mt-3">
            <h2>Login</h2>
            <p>Se você já fez cadastro, basta entrar com seu usuário e senha abaixo:</p>
            <form method="post" action="{% url 'perfil:login' %}">
                {% csrf_token %}
                <div class="form-group">
                  <label for="InputUsuario1">Usuário</label>
                  <input type="text" name='username' class="form-control" id="InputUsuario1" aria-describedby="usuarioHelp"
                    placeholder="Digite usuário">
                </div>
                <div class="form-group">
                  <label for="InputPassword1">Senha</label>
                  <input type="password" name='password' class="form-control" id="InputPassword1" placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
              </form>
        </div>
    {% endif %}
    <div class="col-lg mt-3">
        {% block title_form %}
            <h2>Cadastro</h2>
            <p>
                Caso ainda não tenha cadastro, utilize o formulário a seguir para se cadastra
            </p>
        {% endblock title_form %}
        <form action="" method="post">
            {% csrf_token %}
            {{ userform|crispy }}

            <br><br>
            <h3>Perfil</h3>
            {{ perfilform|crispy }}

            <br><br>
            <h3>Endereço</h3>
            {{ enderecoform|crispy }}
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button type="submit" class='btn col-6 btn-warning btn-block btn-lg mt-4 mb-4'>
                        {% if request.user.is_authenticated %}
                            Atualizar
                        {% else %}
                            Enviar
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock conteudo %}
