{% extends 'base.html' %}
{% load filters %}


{% block conteudo %}
    <div class="row mb-5">
        <div class="col-lg">
            <h2>Resumo da sua compra</h2>

            <p class="lead">Dados do usuário</p>
            <p>Caso precise editar, <a href="{% url 'perfil:create' %}">clique aqui</a></p>
            <dl class="row">
                <dt class="col-lg-2">Nome:</dt>
                <dd class="col-lg-4">{{ usuario.first_name }}</dd>
                <dt class="col-lg-2">Sobrenome:</dt>
                <dd class="col-lg-4">{{ usuario.last_name }}</dd>

                <dt class="col-lg-2">Idade:</dt>
                <dd class="col-lg-4">{{ usuario.perfilusuario.idade }}</dd>
                <dt class="col-lg-2">Nascimento:</dt>
                <dd class="col-lg-4">{{ usuario.perfilusuario.data_nascimento }}</dd>

                <dt class="col-lg-2">CPF:</dt>
                <dd class="col-lg-4">{{ usuario.perfilusuario.cpf }}</dd>
                <dt class="col-lg-2">E-mail:</dt>
                <dd class="col-lg-4">{{ usuario.email }}</dd>
            </dl>

            <p class="lead">Dados de endereço</p>
            <p>Caso precise editar, <a href="{% url 'perfil:create' %}">clique aqui</a></p>
            <dl class="row">
                <dt class="col-lg-2">Endereço:</dt>
                <dd class="col-lg-4">{{endereco_user.endereco }}</dd>
                <dt class="col-lg-2">Número:</dt>
                <dd class="col-lg-4">{{endereco_user.numero }}</dd>

                <dt class="col-lg-2">Complemento:</dt>
                <dd class="col-lg-4">{{endereco_user.complemento }}</dd>
                <dt class="col-lg-2">Nascimento:</dt>
                <dd class="col-lg-4">{{endereco_user.bairro }}</dd>

                <dt class="col-lg-2">Cidade:</dt>
                <dd class="col-lg-4">{{endereco_user.cidade }}</dd>
                <dt class="col-lg-2">Estado:</dt>
                <dd class="col-lg-4">{{endereco_user.estado }}</dd>

                <dt class="col-lg-2">CEP:</dt>
                <dd class="col-lg-4">{{endereco_user.cep }}</dd>
            </dl>
        </div>
    </div>

    <div class='row'>
        <div class="col">
            <h3>Resumo do carrinho</h3>
            <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>

            {% include 'partials/_carrinho.html' %}
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <p class="lead text-center"><span class="font-weight-bold">Total do carrinho:</span>
                {{ carrinho|cart_total|formata_preco }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-block btn-primary btn-lg" href="{% url 'pedido:salvarpedido' %}">
                Finalizar pedido
            </a>
        </div>
    </div>
{% endblock conteudo %}